@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

/*#logo{
    padding: 150px 50%;
}*/

.showcase{
    background-image:url(../backgrounds/h_img.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;

}

/*Header Section*/

.showcase h1{
    font-size: 45px;
    color: aliceblue;
}

.showcase p{
    color: aliceblue;
    
}

.showcase .mouse{
    width: 175px;
    height: 175px;
    line-height: 175px;
    text-align: center;
    vertical-align: bottom;
}

/*End of Header Section*/

/*Middle Section*/
#about{
    padding: 20px;
    background: #ffff;
    color: black;
    text-align: center;
}

#services{
    padding: 20px;
    height: 300px;
    background:url(../backgrounds/s_image.jpg);
    background-size:cover;
    color: rgb(255, 255, 255);
    text-align: center;
}

.what-section{
    height: 300px;
    background-color: blanchedalmond;
    display: inline-block;
    width: 100%;
}
.portfolio-sec{
    height: 300px;
    background-color: blanchedalmond;
    display: inline-block;
    width: 100%;
}
footer{
    height: 300px;
    background-color: blanchedalmond;
    display: inline-block;
    width: 100%;
}